fastapi
uvicorn
numpy
opencv-python
matplotlib
pillow
requests
scipy
tqdm
rich
pydantic
starlette
httpx
Jinja2
PyYAML
typing_extensions
ultralytics

# ML (CPU safe)
torch
torchvision

# Voice + AI
SpeechRecognition
pyttsx3
python-dotenv
groq
openai-whisper

# Backend
Flask
Flask-SocketIO
eventlet

# Optional utilities
psutil